#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}

.editor-containger {
  display: flex;
  flex-direction: row;
}

.game-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.menu-container > li {
  list-style-type: none;
  margin: 0 10px;
}
