.game {
  width: 100%;
  background-repeat: no-repeat;
}

.game-section {
  font-size: 1em;
  max-width: 700px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.game-header {
  font-size: 2em;
  text-align: center;
}

.game-text {
  font-size: 1em;
  text-align: left;
  font-family: Garamond, Georgia, serif;
  ;
}

.game-action {
  font-size: 0.7em;
  line-height: 2;
  text-align: center;
  background-color: rgb(230, 228, 228);
  padding: 10px;
}
